{
    "extends": ["eslint:recommended", "google"],
    "parserOptions": {
        "ecmaVersion": 9
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "max-len": [2, { "code": 120 }],
        "arrow-parens": [2, "as-needed"],
        "semi": 0,
        "object-curly-spacing": 0,
        "no-console": 0,
        "comma-dangle": 0,
        "eol-last": 0
    }
}
